@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacija - Organizacija nogometnih turnira</h1>
    <hr />
    <h2 class="display-4"><a href="https://localhost:44307/Natjecanja">Odaberi natjecanje</a></h2>
</div>
